.ins {
	position: relative;
	top: 15.6%;
	left: 9%;
	display: inline-block;
}
.ins .title {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 10vw;
	margin: 0;
	color: #000000;
}
.tag {
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 2vw;
	margin: 0;
}
.signin {
	width: 30%;
	cursor: pointer;
}
.image {
	position: absolute;
	width: 50%;
	right: 5%;
	bottom: 5%;
}
