.side {
	flex: 0.33;
	background: linear-gradient(180deg, #f7f0f7 20.71%, #bbd9e9 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.boxinside {
	width: 80%;
	height: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.header {
	display: flex;
	height: 10%;
	justify-content: space-around;
	align-items: center;
	min-width: 70%;
}
.header img {
	border-radius: 50%;
}
.name {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bold;
	color: #6e6e6e;
	font-size: 1.5vw;
	margin: 0;
}
.stud {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 1vw;
	margin: 0;
	color: #a9a9a9;
}
.btn {
	cursor: pointer;
	transition: all 0.5s ease;
}
.btn:hover {
	transform: scale(1.2) translateY(-10%);
	transition: all 0.5s ease;
}
